<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inet.codebase.mapper.ResourceMapper">

    <select id="getListAndResource" resultType="com.inet.codebase.entity.Resource">
    SELECT
	    t1.resource_id AS resourceId,
	    t1.resource_user_id AS resourceUserId,
	    t1.resource_permission_id AS resourcePermissionId,
	    t2.permission_name AS PermissionName
    FROM
	    tbl_resource AS t1
	LEFT JOIN tbl_permission AS t2
    ON t1.resource_permission_id = t2.permission_id
    WHERE
	    t1.resource_user_id = #{userID};
    </select>
</mapper>
